* {
  padding: 0;
  margin: 0;
}

/* Development border to see divs and other stuff */
.dev {
  margin: auto;
  text-align: center;
  border: 3px solid rebeccapurple;
}

header {
  background-color: #666;
  padding: 5px;
  text-align: center;
  font-size: 15px;
  color: white;
}

/* Container for flexboxes */

.section {
  display: -webkit-flex;
  display: flex;
}

nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #ccc;
  padding: 20px;
}

/* Style the content */
.mainContent {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
}

@media (max-width: 600px) {
  nav,
  article {
    width: 100%;
    height: auto;
  }
}
.section {
  -webkit-flex-direction: column;
  flex-direction: column;
}

#map {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  width: 100%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.search {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Navigation bar stuff */

.navbar {
  overflow: hidden;
  background-color: #0b91e5;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #54a2d3;
  text-align: center;
  padding: 5px 5px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #54a2d3;
  color: black;
}

.navbar a.active {
  background-color: rgb(28, 170, 151);
  color: white;
}

.buttonsize {
  height: 58px;
  width: 90px;
}
